/* GENERAL */
:root{
    --primary: rgb(19, 19, 19);
    --text: #262626;
    --secondary: white;
    --bg-blur: rgba(255, 255, 255, 0.2);
    --bg-blur-arr: rgba(255, 255, 255, 0.2);
    --bg-cards: rgb(245, 243, 243);
    --shadow: 0px 2px 14px 5px rgba(0,0,0,0.18);
    color: #d4d3d3;
    color: #b9b9b9;
}
*{
    font-family: 'Poppins', sans-serif;
    scroll-margin-bottom: -300px;
    transition: all 0.2s;
}
.bg-card{
    background-color: var(--bg-cards);
}
.border-color{
    border: 1px solid var(--bg-cards);
}
a, .carousel span{
    text-decoration: none !important;
    color: var(--text) !important;
}
main section{
    padding: 100px 0;
    scroll-margin-bottom: -300px
}
main section > h2{
    color: var(--primary);
    font-size: 2.3em;
}
img{
    object-fit: cover;
}
li{
    list-style: none;
}
.git a, .curriculum a{
    border-radius: 5px;
    font-size: 1.5em;
    transition: all 0.2s;
    color: var(--text) !important;
}
.git a:hover, .curriculum a:hover{
    cursor: pointer;
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
    box-shadow: var(--shadow);
}
.change-border{
    transition: all 0.2s linear !important;
}
.change-border:hover{
    border: 1px solid var(--primary) !important;
    box-shadow: var(--shadow);
}

/* HEADER */
#background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/cover_bg_3.jpg');
    background-size: cover;
    background-position: left;
}
.dark-mode{
    cursor: pointer;
}
/* header fixed */
.header-links{
    position: fixed;
    z-index: 1;
    background-color: var(--bg-blur);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 10px;
}
nav > ul{
    display: flex;
    flex-direction: column;
}
.link-page{
    display: inline-block;
    transition: all 0.2s !important;
    color: var(--secondary)  !important;
    position: relative;
    bottom: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    position: relative;
}
.link-page.active{
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
}
/* jumbotron */
#jumbotron{
    height: 100dvh;
    background-color: var(--primary);
}
#jumbotron h1{
    font-size: 4em;
}
.dark-mode a{
 color: var(--secondary) !important;
 font-size: 1.4em
}
.my-name h1, .my-name h2{
    transition: all 0.2s;
    color: var(--secondary) !important;
}
.socials-jumbo a{
    display: inline-block;
	border: 2px solid var(--secondary);
    color: var(--secondary) !important;
    font-weight: bold;
    height: 40px;
    width: 40px;
    line-height: 37px;
    transition: all 0.1s !important;
}
.socials-jumbo a:hover{
	background-color: var(--secondary);
    color: var(--primary) !important;
}
.photo-jumbo{
    /* border: 2px solid var(--secondary) ; */
    object-fit: cover;
    width: 350px;
    height: 350px;
    margin-left: 8rem;
    animation: revealText 1.5s linear;
}

/* MAIN */
main{
    background-color: var(--secondary);
    color: var(--text);
}
.direction{
    height: 50px;
    width: 100%;
}
.direction a{
    color: var(--secondary) !important;
    top: -60%;
    background-color: var(--bg-blur) !important;
    padding: 0 1rem;
    border-radius: 10px 10px 0 0;
}
/* about me */
.cornice{
    width: 500px;
    height: 400px;
}
.carousel-inner:hover i{
   opacity: 1 !important;
}

.my-clouds{
    display: flex;
}
/* skills */
.devicon{
    font-size: 2rem;
}
.devicon-img{
    width: 30px;
    object-fit: cover;
}
/* project */
.img-proj{
    overflow: hidden;
    height: 300px;
}
.img-proj > img{
    object-fit: contain;
}
.buttons-proj > a {
    cursor: pointer;
    border-radius: 5px;
}
.buttons-proj > a:first-child{
    color: var(--primary);
}
.buttons-proj > a:last-child{
    background-color: var(--primary);
    color: var(--secondary) !important;
}
.mini-git:hover{
    border: 1px solid var(--primary) !important;
    color: white !important;
    background-color: var(--primary);
}
.collapse .card{
    color: var(--text);
}

/* FOOTER */
footer{
    background-color: var(--primary);
    z-index: 2;
}
.footer-link{
    color: var(--text);
    display: inline-block;
    padding-bottom: 3px;
}
.footer-link:hover{
    box-shadow: inset 0px -2px 0px 0px var(--primary)
}
.social{
    margin-right: 10px;
}
.footer-text{
    color: var(--secondary) !important;
}
